<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>login/ui_denglu_diban_dengji.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,1},{64,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{64,18}</string>
			</dict>
			<key>login/ui_denglu_diban_mbz.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,281},{270,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{270,95}</string>
			</dict>
			<key>login/ui_denglu_diban_mbzjxuanzhong.png</key>
			<dict>
				<key>frame</key>
				<string>{{901,281},{270,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{270,95}</string>
			</dict>
			<key>login/ui_denglu_diban_srmm.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,289},{286,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{286,46}</string>
			</dict>
			<key>login/ui_denglu_diban_zjd.png</key>
			<dict>
				<key>frame</key>
				<string>{{598,1},{199,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{199,195}</string>
			</dict>
			<key>login/ui_denglu_diban_zjdlxuanzhong.png</key>
			<dict>
				<key>frame</key>
				<string>{{799,1},{199,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{199,195}</string>
			</dict>
			<key>login/ui_denglu_fanmang.png</key>
			<dict>
				<key>frame</key>
				<string>{{974,198},{19,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,19}</string>
			</dict>
			<key>login/ui_denglu_huobao.png</key>
			<dict>
				<key>frame</key>
				<string>{{974,219},{19,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,19}</string>
			</dict>
			<key>login/ui_denglu_icon_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,339},{53,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{53,53}</string>
			</dict>
			<key>login/ui_denglu_icon_change.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,339},{43,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{43,44}</string>
			</dict>
			<key>login/ui_denglu_icon_news.png</key>
			<dict>
				<key>frame</key>
				<string>{{886,198},{41,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{41,44}</string>
			</dict>
			<key>login/ui_denglu_icon_xiufu.png</key>
			<dict>
				<key>frame</key>
				<string>{{932,198},{40,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,42}</string>
			</dict>
			<key>login/ui_denglu_jiazai_diban.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,289},{48,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{48,83}</string>
			</dict>
			<key>login/ui_denglu_jinru_diban.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,289},{579,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{579,41}</string>
			</dict>
			<key>login/ui_denglu_liuchang.png</key>
			<dict>
				<key>frame</key>
				<string>{{998,364},{19,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,19}</string>
			</dict>
			<key>login/ui_denglu_name.png</key>
			<dict>
				<key>frame</key>
				<string>{{1011,176},{11,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{11,20}</string>
			</dict>
			<key>login/ui_denglu_name_bar.png</key>
			<dict>
				<key>frame</key>
				<string>{{598,242},{393,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{393,37}</string>
			</dict>
			<key>login/ui_denglu_name2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1005,67},{83,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{83,8}</string>
			</dict>
			<key>login/ui_denglu_weihuzhong.png</key>
			<dict>
				<key>frame</key>
				<string>{{998,385},{19,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{19,19}</string>
			</dict>
			<key>login/ui_denglu_xian.png</key>
			<dict>
				<key>frame</key>
				<string>{{1020,1},{173,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{173,3}</string>
			</dict>
			<key>login/ui_denglu_fenge.png</key>
			<dict>
				<key>frame</key>
				<string>{{1015,67},{3,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{3,16}</string>
			</dict>
			<key>login/ui_denglu_xian2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1000,67},{173,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{173,3}</string>
			</dict>
			<key>login/chuangjue_btn_man_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,904},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>login/chuangjue_btn_man_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,1},{296,286}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{296,286}</string>
			</dict>
			<key>login/chuangjue_btn_woman_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,904},{112,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,112}</string>
			</dict>
			<key>login/chuangjue_btn_woman_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{297,287}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{297,287}</string>
			</dict>
			<key>login/chuangjue_frame_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,870},{445,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{445,32}</string>
			</dict>
			<key>login/xsyd_di1.png</key>
			<dict>
				<key>frame</key>
				<string>{{598,198},{286,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{286,32}</string>
			</dict>
			<key>login/xsyd_di4.png</key>
			<dict>
				<key>frame</key>
				<string>{{598,283},{171,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{171,204}</string>
			</dict>
			<key>login/xsyd_gonghao.png</key>
			<dict>
				<key>frame</key>
				<string>{{998,283},{25,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,25}</string>
			</dict>
			<key>login/xsyd_zhengjiansuoshu.png</key>
			<dict>
				<key>frame</key>
				<string>{{998,310},{25,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,25}</string>
			</dict>
			<key>login/xsyd_zhiwu.png</key>
			<dict>
				<key>frame</key>
				<string>{{998,337},{25,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{25,25}</string>
			</dict>
			<key>login/xsyd_di2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1005,152},{129,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,4}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>login.png</string>
			<key>realTextureFileName</key>
			<string>login.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>